.or-seperator {
  height: 0;
  margin: 0 auto 20px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  width: 30%;
}

.or-seperator i {
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
  background: #fff;
  display: inline-block;
  position: relative;
  top: -13px;
  z-index: 1;
}
